body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #input{
    padding: 10px;
  }
  
  #app {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
  }

  #addItem{
    border: 1px solid green;
    list-style: none;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    overflow: scroll;
  }

  #addedHere{
    display: flex;
    flex-direction: column;
  }

  #edit{
    display: none;
  }


  #editSubmit{
    display: none;
  }